@media screen
	and (min-width:1401px)
	{.ralphy
		{
			width:250px;
			height:186px;
			background:url(ralphy.gif) 0px 0px;
	}
}

@media screen
	and (min-width:1201px)
	and (max-width:1400px)
	{.ralphy
		{
			width:250px;
			height:186px;
			background:url(ralphy.gif) 250px 0px;
		}
	}

@media screen
	and (min-width:1001px)
	and (max-width:1200px)
	{.ralphy
		{
			width:250px;
			height:186px;
			background:url(ralphy.gif) 0px -186px;
		}
	}

@media screen
	and (min-width:801px)
	and (max-width:1000px)
	{.ralphy
		{
			width:250px;
			height:186px;
			background:url(ralphy.gif) 250px -186px;
		}
	}

@media screen
	and (min-width:601px)
	and (max-width:800px)
	{.ralphy
		{
			width:250px;
			height:186px;
			background:url(ralphy.gif) 0px 186px;
		}
	}

@media screen
	and (max-width:600px)
	{.ralphy
		{
			width:250px;
			height:186px;
			background:url(ralphy.gif) 250px 186px;
		}
	}